<div class="toolbar">
  <h1 id="pageTitle">Results</h1>
  <a id="backButton" class="button" href="#"></a>
</div>

<% if @actions.length==0%>
There are currently no results back for that ticket request<p>
Please check back tomorrow<p>

<% else %>
<% if @actions.length>1 or (@actions.length==1 and ! @actions[0].last_flag)%>
There is more than one result associated with this ticket<p>

<% end %>

<div id='summary' class='panel' selected='true'>
<fieldset>
<center><h2>Summary</h2></center>

<center><table border=1>

	<tr>
    <th align=left>Test date</th>
    
    <th align=left>Test</th>
		<th align=left>Action</th>
  </tr>
	<% last_flag=0 %>
	<% @actions.each do |action| %>
	  <tr>
	    <td align=left valign=top><%=h action.test_date.strftime("%d/%m/%y") %></td>
	    <td align=left><%= h action.name %>&nbsp;<a href='#<%=action.identifier %>'>(view)</a></td>
			<td align=left><%= h action.action_code %></td>
		</tr>
		<% last_flag=1 if action.last_flag %>
	<% end %>
	</table>
	</center>
</fieldset>
	<br />
	<% if last_flag ==1%>
		This series of tests is now complete.<br>
		If you have any concerns or questions please contact your doctor.<p>
	<% else %>
		NB- There are more results to come for this series of tests.<p>
	Please continue to check back.
	<% end %>

<div id='details' class='panel' selected='true'>
<fieldset>
<center><h2>Details</h2></center>
<table border=1>
  <tr>
    <th align=left>Test date</th>
    
    <th align=left>Comment</th>
  </tr>
<% last_flag=0 %>
<% @actions.each do |action| %>
  <tr>
    <td align=left valign=top><a name="<%= action.identifier %>"><%=h action.test_date.strftime("%d/%m/%y") %></td>
    <td align=left>
		<% if action.name and action.name!=""%>
		<h4><%= action.name %></h4>
		<% end %>
		<% if action.comment!=""%>	
		<%= displayComment(action.comment) %>
		<% end %>
		</td>
	</tr>
	<% last_flag=1 if action.last_flag %>
<% end %>
</table>
</fieldset>
</div>
<br />
<% if last_flag ==1%>
	This series of tests is now complete.<br>
	If you have any concerns or questions please contact your doctor.<p>
<% else %>
	NB- There are more results to come for this series of tests.<p>
Please continue to check back.
<% end %>
<% end %>