<h1>Editing result_ticket</h1>

<% form_for(@result_ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :result_ref %><br />
    <%= f.text_field :result_ref %>
  </p>
  <p>
    <%= f.label :ticket %><br />
    <%= f.text_field :ticket %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @result_ticket %> |
<%= link_to 'Back', result_tickets_path %>