<p>
  <b>Title:</b>
  <%=h @goal.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @goal.description %>
</p>

<p>
  <b>Measure:</b>
  <%=h @goal.measure_id %>
</p>

<p>
  <b>Condition:</b>
  <%=h @goal.condition_id %>
</p>

<p>
  <b>Patient:</b>
  <%=h @goal.patient %>
</p>

<p>
  <b>Team:</b>
  <%=h @goal.team %>
</p>
<p>
  <b>Active:</b>
  <%=h @goal.active %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>