<div class="wedgetail-form">
<table width=100%>
	<% for  @thisNarrative in  @special%>
	<% if @thisNarrative%>
	<% @thiscount=@count[@thisNarrative.narrative_type_id]%>
	<tr>
		<td>
			<fieldset>
				<legend><%=@thisNarrative.narrative_type.narrative_type_name%></legend>
				<h1><%= @thisNarrative.narrative_date.strftime("%d/%m/%y")%>   <%= @thisNarrative.title-%></h1>
				<% content, partial = @thisNarrative.convert %>
				<%= render(:partial=>partial,:object=>content)%>
				
				<br>
				<%= "Created by "+ @thisNarrative.author + "<br>" if @thisNarrative.author && @thisNarrative.author!=""%>
				<%= link_to 'Update this '+ @thisNarrative.narrative_type.narrative_type_name, :controller=>'entry',:action=>'new',:wedgetail=>@patient.wedgetail,:narrative=>@thisNarrative.id %>
				<%= link_to 'Show All '+ @thiscount.to_s + ' ' + @thisNarrative.narrative_type.narrative_type_name.pluralize, :action => 'narrative', :type=>@thisNarrative.narrative_type_id, :wedgetail=>@patient.wedgetail if @thiscount>1 %>
			</fieldset>
		</td>
	</tr>
	<%end%>
	<%end%>
	
</table>
</div>