<p>
	
	<% if !@patient.hatched %>
	<%= expandable_section("Consent","show")%>
	<div id="consent">
	<%= render(:partial => "consent.erb") %>
	</div>
	<% end %>
	
<p>
<%= expandable_section("Conditions","show")%>
<div id="conditions">
	<table border=0><tr><td>

	<div id='conditions_list'>
<%= render(:partial => "conditions") %>

</div>
 <% form_remote_tag :url => { :action => 'add_condition', :id=>@patient.wedgetail } do %>
 <%= text_field_with_auto_complete :condition, :name %>
	<%= submit_tag "Add" %>
<% end %>
</td></tr></table>
</div>
<hr>

<%= expandable_section("Medications","show")%>
<div id='medications'>
	<%= render(:partial => "medications") %>
</div>
<p>
	<hr>

	<%= expandable_section("Progress Wall","hide")%>

	<div id="progress_wall" style="display: none">
	 <% form_remote_tag :url => { :action => 'add_post', :id=>@patient.wedgetail,:condition_id=>0 } do %>
	 <%= text_area_tag :post,"",:cols=>60,:rows=>3 %></p>
		<%= submit_tag "Add Post" %>
	<% end %>
	<hr>
	<div id='built_wall'>
<%= render(:partial => "wall",:object=> @wall_info) %>
</div>
</div>
<hr>
<%= expandable_section("Other Narratives","hide")%>
<div id="other_narratives" style="display: none">
<div id="special">
<%= render(:partial => "special") %>
</div>
</div>
		

	
