<%= render(:partial => "special") %>

		<table border=1>
		<% for narrative in @narratives %>
			<tr>
				<td><%= narrative.narrative_date.strftime("%d/%m/%y")%></td>
				<td><%= narrative.narrative_type.narrative_type_name %></td> 
				<td><%= narrative.title%></td>	
				<td><%= link_to 'Show',narrative %></td>
			</tr>
		<% end %>
		</table>
