
<div id="conditions">
	<table border=1><tr><td>
	<h1>Conditions</h1>
	<div id='conditions_list'>
<%= render(:partial => "conditions") %>
</div>
 <% form_remote_tag :url => { :action => 'add_condition', :id=>@patient.wedgetail } do %>
 <%= text_field_with_auto_complete :condition, :name %>
	<%= submit_tag "Add" %>
<% end %>
</td></tr></table>
</div>
<p><span id='conditions_show' style="display: none"><%= link_to_remote "Show Conditions", :url => {:action => "toggle",:div=> "conditions"} %></span>
<span id='conditions_hide'><%= link_to_remote "Hide Conditions", :url => {:action => "toggle",:div=> "conditions"} %></span>
<span id='wall_show'><%= link_to_remote "Show Progress Wall", :url => {:action => "toggle",:div=> "wall"} %></span>
<span id='wall_hide' style="display: none"><%= link_to_remote "Hide Progress Wall", :url => {:action => "toggle",:div=> "wall"} %></span>

<div id="wall" style="display: none">
	<h1>Progress Wall</h1>
	 <% form_remote_tag :url => { :action => 'add_post', :id=>@patient.wedgetail,:condition_id=>0 } do %>
	 <%= text_area_tag :post,"",:cols=>60,:rows=>3 %></p>
		<%= submit_tag "Add Post" %>
	<% end %>
	<hr>
	<div id='built_wall'>
<%= render(:partial => "wall") %>
</div>
</div>
<div id="special">
<%= render(:partial => "special") %>
</div>

		

	
