<h1>New craft</h1>

<% form_for(@craft) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :craftgroup_id %><br />
    <%= f.select :craftgroup_id, @craftgroups %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', crafts_path %>