<p>
  <b>Craft:</b>
  <%=h @carerole.craft_id %>
</p>

<p>
  <b>Goal:</b>
  <%=h @carerole.goal_id %>
</p>

<p>
  <b>Patient:</b>
  <%=h @carerole.patient_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @carerole.role %>
</p>

<p>
  <b>Root:</b>
  <%=h @carerole.root %>
</p>


<%= link_to 'Edit', edit_carerole_path(@carerole) %> |
<%= link_to 'Back', careroles_path %>