
 <p><span class='sectionhead'><%=h @condition.name %></span><p>


<%= in_place_editor_field :summary, :content, 	{}, {:rows=>8, :cols=>80,:type=>'simple'}%>

<p>

	
		
	<hr>
	<div id='goals'>
<%= render(:partial => "goals/add_goal") %>
	
	<div id='patient_goals'>
		<%= render(:partial => "goals/patient_goals") %>
	</div>
	
	</div>
	<hr>
<p>
<%= expandable_section(@condition.name+" Progress Wall","show")%>
<div id="<%= @condition.name.downcase.sub(" ","_")%>_progress_wall">

		 <% form_remote_tag :url => { :controller=>'patients',:action => 'add_post', :id=>@patient.wedgetail,:condition_id=>@condition.id } do %>
		 <%= text_area_tag :post,"",:cols=>60,:rows=>3 %></p>
			<%= submit_tag "Add Post" %>
		<% end %>
  <hr>
		<div id='built_wall'>
	<%= render(:partial => "patients/wall") %>
	</div>
</div>

