<div class="wedgetail-form">
<table width=100%>
	<% for  @narrative in  @special%>
	<% if @narrative%>
	<% @thiscount=@count[@narrative.narrative_type_id]%>
	<tr>
		<td>
			<fieldset>
				<legend><%=@narrative.narrative_type.narrative_type_name%></legend>
				<h1><%= @narrative.narrative_date.strftime("%d/%m/%y") if @narrative.narrative_date%>   <%= @narrative.title-%></h1>
				<% content, partial = @narrative.convert %>
				<%= render(:partial=>'narratives/'+partial,:object=>content)%>
				
				<br><hr><br>
				<%= "Created by "+ @narrative.author + "<br>" if @narrative.author && @narrative.author!=""%>
				<%= link_to 'Update this '+ @narrative.narrative_type.narrative_type_name, :controller=>'entry',:action=>'new',:wedgetail=>@patient.wedgetail,:narrative=>@narrative.id %>
				<%= link_to 'Show All '+ @thiscount.to_s + ' ' + @narrative.narrative_type.narrative_type_name.pluralize, patient_narratives_path(:patient_id=>@patient.wedgetail,:type=>@narrative.narrative_type_id) if @thiscount>1 %>
			</fieldset>
		</td>
	</tr>
	<%end%>
	<%end%>
	
</table>
</div>
