<h1>Editing narrative</h1>

<% form_for(@narrative) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :wedgetail %><br />
    <%= f.text_field :wedgetail %>
  </p>
  <p>
    <%= f.label :narrative_type_id %><br />
    <%= f.text_field :narrative_type_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :narrative_date %><br />
    <%= f.date_select :dob %>
  </p>

  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @narrative %> |
<%= link_to 'Back', narratives_path %>