<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<! patient>
<html> 
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />

<title>Wedgetail Shared EHR</title> 

<%= stylesheet_link_tag  @chosen_theme,"prototip", :media => "all" %> 
<%= stylesheet_link_tag "pdf" if params[:action]=='careplan'%>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "prototip" %>
<%= javascript_include_tag "megapop" %>
<%= calendar_date_select_includes 'blue'%>

<% if defined? @completions %>
<script src="/completions/script" type="text/javascript"></script>
<% end %>  
<% if flash[:background_print_narrative] -%>
  <script type="text/javascript">
  //<![CDATA[
    win=window.open("","","width=10 height=10");
    win.blur();
    win.document.location = document.location.protocol+'//' + document.location.host + '<%= url_for(:controller=>"entry",:action=>"gen_pdf",:id=>flash[:background_print_narrative]) %>';
    win.print();
    win.close();
  //]]>
</script>
<% end %>
</head> 
<body>
	
<div class="banner">	
  <div class="banner-logo"></div>
  <div class="logo"></div>
</div>

<div id="columns"> 
<div id="side"> 
<%= render :partial => 'layouts/side_links' if session[:user_id] and not controller === PageController %>

<br/>  
 
</div> 









<div id="main">  
	<div id='header'>
	<% if (@patient.hatched and Pref.toolbar==true) %>
	<div class="wrapper clearfix">
	<ul class='nav'>
		 <li class="index"><a href="#" onclick="guideMenu()"; return false; id="guidesMenu">Toolbar</a>
							          <div id="guides" class="clearfix" style="display: none;">
							            <hr />
		<%= render :partial => 'layouts/toolbar' %>


						</div>
	</li>
	</ul>

	</div>

	<% end %>
	</div>
<% tabnav :patient do %>
<% if params[:controller]=="conditions" and @patient %>
	<%= tabnav :conditions%>
<% end %>


<% if flash[:notice] -%> 
<div id="notice"><%= flash[:notice] %></div> 
<% end -%> 

<table width=99% valign=top>

	<tr>
		<td width=90% valign=top>


<div class='patient_banner'>
	<span class='patient_name'><%= h(@patient.family_name+", "+@patient.given_names)-%><%= h(" \""+@patient.known_as+ "\"")	unless @patient.known_as.blank? -%></span>

	&nbsp; &nbsp;<span class='address'><b>Address</b>  <%= @patient.address_line+", "+@patient.town%></span>
	&nbsp; &nbsp;	<span class='dob'><b>DOB</b>  <%= @patient.dob.day %>/<%= @patient.dob.month%>/<%= @patient.dob.year-%></span>
	</div>

 



			<%= yield :layout %>

			</td>
<% if !(Pref.toolbar==true) and (@patient.hatched) %>
<td valign='top'>
<%= render :partial => 'layouts/toolbar' %>

</div>
</td>
<% end %>
</tr>
</table>
<% end %>
</div> 
</div> 
</body> 
</html>

