<p>
  <b>Wedgetail:</b>
  <%=h @result.wedgetail %>
</p>

<p>
  <b>Surname:</b>
  <%=h @result.surname %>
</p>

<p>
  <b>Given name:</b>
  <%=h @result.given_name %>
</p>

<p>
  <b>Dob:</b>
  <%=h @result.dob %>
</p>

<p>
  <b>Date:</b>
  <%=h @result.date %>
</p>

<p>
  <b>Name:</b>
  <%=h @result.name %>
</p>

<p>
  <b>Loinc:</b>
  <%=h @result.loinc %>
</p>

<p>
  <b>Value:</b>
  <%=h @result.value %>
</p>

<p>
  <b>Lab text:</b>
  <%=h @result.lab_text %>
</p>
<p>
  <b>Comment:</b>
  <%=h @result.comment %>
</p>


